.statics {
  position: relative;
  width: 100%;
  padding: 100px 0;
  background-color: $white;
  .strip {
    width: 120px;
    position: absolute;
    top: 189px;
    right: -80px;
    img {
      max-width: 100%;
      animation: scaler 5s ease-in-out infinite;
    }
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: row;
  }
  @keyframes scaler {
    0%,
    100% {
      transform: scale(0.6);
    }
    50% {
      transform: scale(1);
    }
  }
  .statics-card {
    @include centerFlex();
    flex-direction: column;
    .icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: $shadow;
      @include centerFlex();
      img {
        max-height: 40px;
      }
    }
    h2 {
      margin: 24px 0 8px;
      color: $main-color;
      font-weight: 600;
      font-size: 22px;
      text-align: center;
    }
    p {
      color: #7b88a8;
      font-size: 14px;
      text-align: center;
      line-height: 22px;
    }
  }
}
.potential {
  padding: 0 0 60px;
  background-color: $white;
  h2 {
    color: $main-color;
    font-size: 38px;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 54px;
    span {
      background: $text-gradiant;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media (max-width: 576px) {
      font-size: 28px;
      line-height: 40px;
    }
  }
  p {
    color: #7b88a8;
    line-height: 26px;
    margin-bottom: 32px;
  }
  .lista {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    p {
      margin-bottom: 0;
      flex: 1;
      min-width: calc(50% - 6px);
      display: flex;
      align-items: center;
      gap: 8px;
      color: $main-color;
      font-weight: 500;
      @media (max-width: 576px) {
        font-size: 14px;
      }
      img {
        transform: scale(-1);
      }
    }
  }
  .video-wrapper {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border-radius: 6px;
    background-image: linear-gradient(#00000043, #0000003c),
      url("/business.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    isolation: isolate;
    .play-btn {
      width: 80px;
      height: 80px;
      background: $second;
      border-radius: 50%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      i {
        font-size: 28px;
        color: $white;
        width: 28px;
      }
    }
  }
}
.waves {
  position: absolute;
  width: 180px;
  height: 180px;
  background: #c6c6ce;
  opacity: 0;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}
.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.steps {
  padding: 100px 0 40px;
  background-color: $white;
  @media (max-width: 768px) {
    padding: 80px 0;
  }
  position: relative;
  .strip2 {
    width: 100px;
    position: absolute;
    top: 100px;
    left: -30px;
    img {
      max-width: 100%;
      animation: rotator 5s linear infinite;
    }
  }
  .strip3 {
    width: 100px;
    position: absolute;
    top: 0;
    right: -150px;
    img {
      max-width: 100%;
    }
  }
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  h3 {
    text-align: center;
    color: $main-color;
    font-size: 28px;
    margin-bottom: 12px;
  }
  .sub-title {
    text-align: center;
    color: $text-color;
    font-size: 14px;
    width: min(100%, 700px);
    margin: auto;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .steps-swiper-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $main-color;
      z-index: 10;
    }
  }
  .swiper {
    margin-top: 40px;
    padding-bottom: 40px;
    z-index: 15;
  }
  .swiper-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .swiper-button-prev {
    right: 16px;
  }
  .swiper-button-next {
    left: 16px;
  }
  .steps-swiper .swiper-button-next,
  .steps-swiper .swiper-button-prev {
    color: $white;
    &::after {
      width: 40px;
      height: 40px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: $second;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
  }

  .swiper-slide {
    position: relative;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      bottom: -26px;
      left: 50%;
      transform: translateX(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $second;
      z-index: 20;
    }

    &.swiper-slide-active {
      .step {
        filter: grayscale(0);
        opacity: 1;
      }
      .image-wrapper {
        img {
          width: 100%;
        }
        i {
          font-size: 40px;
        }
      }
      .step-year {
        font-size: 18px;
      }
      h5 {
        font-size: 28px;
        font-weight: 600;
      }
      .step-description {
        font-size: 18px;
        font-weight: 500;
        color: $text-color;
      }
    }
  }

  .step {
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    filter: grayscale(1);
    opacity: 0.5;
    transition: $transation;

    .image-wrapper {
      width: 300px;
      max-height: 240px;
      position: relative;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transation;
      overflow: hidden;

      img {
        width: 60%;
        object-fit: cover;
        transition: $transation;
      }

      i {
        font-size: 32px;
        color: $second;
      }
    }
  }

  .step-year {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    transition: $transation;
  }

  h5 {
    text-align: center;
    color: $main-color;
    font-size: 20px;
    margin: 0;
    transition: $transation;
  }

  .step-description {
    font-size: 12px;
    margin-top: 5px;
    color: #777;
    transition: $transation;
  }
}
.services {
  padding: 100px 0 40px;
  // background-color: #f8f9fd;
  background-color: $white;
  @media (max-width: 768px) {
    padding: 80px 0;
  }
  position: relative;
  .strip2 {
    width: 100px;
    position: absolute;
    top: 100px;
    left: -30px;
    img {
      max-width: 100%;
      animation: rotator 5s linear infinite;
    }
  }
  .strip3 {
    width: 100px;
    position: absolute;
    top: 0;
    right: -150px;
    img {
      max-width: 100%;
    }
  }
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  h3 {
    text-align: center;
    color: $main-color;
    font-size: 28px;
    margin-bottom: 12px;
  }
  .sub-title {
    text-align: center;
    color: $text-color;
    font-size: 14px;
    width: min(100%, 700px);
    margin: auto;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .service-card {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    transition: $transation !important;
    gap: 10px;
    &:hover {
      box-shadow: $shadow;
      transform: translateY(-16px);
      border-color: transparent;
    }
    .icon {
      width: 80px;
      height: 80px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      img {
        max-height: 50px;
      }
    }
    h4 {
      margin: 16px 0 0;
      font-size: 22px;
      color: $main-color;
      font-weight: 500;
      line-height: 30px;
    }
    p {
      color: #7b88a8;
      font-size: 12px;
      margin: 0;
      line-height: 24px;
    }
  }
}
.blogs {
  padding: 60px 0;
  background-color: #f8f9fd;
  h3 {
    text-align: center;
    color: $main-color;
    font-size: 28px;
    margin-bottom: 12px;
  }
  .sub-title {
    text-align: center;
    color: $text-color;
    font-size: 14px;
    width: min(100%, 700px);
    margin: auto;
    line-height: 24px;
    margin-bottom: 12px;
  }
}
.blog {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: $white;
  border-radius: 8px;
  a {
    width: 100%;
    display: block;
    position: relative;
    .blog_image {
      overflow: hidden;
      width: 100%;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: $transation;
      }
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 2;
        transition: $transation;
      }
    }
    .date {
      width: 50px;
      height: 50px;
      background-color: $second;
      position: absolute;
      bottom: -25px;
      left: 16px;
      z-index: 9;
      @include centerFlex();
      flex-direction: column;
      border-radius: 2px;
      span {
        z-index: 99;
        line-height: 18px;
        font-size: 12px;
        color: $white;
      }
    }
  }
  h4 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 16px;
    a {
      color: $main-color;
      line-height: inherit;
    }
  }
  .read_more {
    background: $second;
    color: $white;
    padding: 4px 16px;
    font-size: 12px;
    width: fit-content;
    border-radius: 4px;
    transition: $transation;
    &:hover {
      background-color: $main-color;
    }
  }
  &:hover {
    a .blog_image {
      img {
        transform: scale(1.15) rotate(-1deg);
      }
    }
  }
}
.blogs_section {
  padding: 40px 0;
}

.blog_details__section {
  padding: 40px 16px;
  @media (max-width: 576px) {
    padding: 20px 16px;
  }
  .row {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
  .blog_img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: $shadow;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  .blog_content {
    h3 {
      font-size: 24px;
      line-height: 1.5;
      color: $main-color;
      font-weight: 600;
      @media (max-width: 576px) {
        font-size: 20px;
        margin-bottom: 24px;
      }
    }
    span {
      color: $second;
    }
    p {
      margin-top: 32px;
      font-size: 12px;
      color: $text-color;
      line-height: 24px;
      margin-bottom: 24px;
    }
    .share_blog {
      display: flex;
      align-items: center;
      gap: 24px;
      h6 {
        color: $main-color;
        font-size: 14px;
        font-weight: 600;
      }
      .social_share {
        display: flex;
        gap: 8px;
        a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: $main-color;
          @include centerFlex();
          i {
            margin: 0;
            transition: $transation;
            font-size: 16px;
          }
          &:hover {
            background: $second;
            color: $second;
            i {
              color: $white;
            }
          }
        }
      }
    }
  }
}
.faqs {
  padding: 60px 12px;
  h3 {
    text-align: center;
    color: $main-color;
    font-size: 28px;
    margin-bottom: 12px;
  }
  .sub-title {
    text-align: center;
    color: $text-color;
    font-size: 14px;
    width: min(100%, 700px);
    margin: auto;
    line-height: 24px;
    margin-bottom: 48px;
  }
  .nav {
    flex-wrap: wrap;
    border-radius: 8px;
    width: 100%;
    background: #f8fafc;
    display: flex;
    cursor: pointer;
    gap: 8px;
    .nav-link {
      font-size: 12px;
      font-weight: 600;
      color: $main-color !important;
    }
    .nav-link.active {
      background-color: $main-color !important;
      color: $white !important;
    }
  }
}
.accordion-button {
  text-align: inherit;
}
.accordion-button,
.accordion-body {
  padding: 16px 0 !important;
}
.accordion-button:not(.collapsed) {
  background: none !important;
}
.accordion-button::after {
  margin-right: auto !important;
  margin-left: initial;
}
.accordion-button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-item {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #d7d7d7 !important;
  border-radius: 0 !important;
}
.accordion-body {
  font-size: 12px;
  color: $text-color;
  line-height: 24px;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.accordion-button {
  font-size: 14px !important;
  font-weight: 600;
}
a,
button {
  transition: $transation;
}
.features {
  width: 100%;
  margin-bottom: 60px;
  background: $second;
  background-repeat: no-repeat;
  background-position: 0% 20%;
  padding: 40px 0;
  p {
    text-align: center;
    color: $white;
    margin: 0;
    font-size: 12px;
    width: min(100%, 700px);
    margin: 0 auto 16px;
    font-weight: 400;
    transition: $transation;
  }
  h2 {
    text-align: center;
    color: $white;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 24px;
    transition: $transation;
    font-weight: bold;
  }
  .feature {
    transition: $transation;
    @include centerFlex();
    flex-direction: column;
    height: 100%;
    .icon {
      width: 100px;
      background: $white;
      height: 100px;
      @include centerFlex();
      border-radius: 50%;
      transition: $transation;
      img {
        height: 40px;
        transition: $transation;
      }
    }
    h6 {
      margin-top: 24px;
      margin-bottom: 0;
      line-height: 24px;
      color: $white;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      transition: $transation;
    }
  }
  @media (max-width: 768px) {
    background-image: none;
  }
}
.news {
  background-color: $white;
  padding-bottom: 60px;
}
.newsletter {
  min-height: 70vh;
  background-size: cover;
  background-image: url("/footer-bg-004.jpeg");
  margin-bottom: 60px;
  @include centerFlex();
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding: 0 200px;
  h3 {
    text-align: center;
    color: $white;
    line-height: 1.5;
    font-size: 40px;
  }
  form {
    display: flex;
    width: 100%;
    justify-content: center;
    input {
      @include clearInput();
      width: 50%;
      height: 56px;
      background: #f4f3f6;
      padding: 14px 22px;
      border-radius: 0px 4px 4px 0;
      direction: rtl;
    }
    button {
      @include clearInput();
      height: 56px;
      background: $second;
      color: $white;
      width: 20%;
      transition: $transation;
      border-radius: 4px 0 0 4px;
      &:hover {
        background: $main-color;
      }
    }
  }
  @media (max-width: 1115px) {
    padding: 0 100px;
  }
  @media (max-width: 992px) {
    padding: 0 48px;
    h3 {
      font-size: 36px;
    }
    form input {
      width: 70%;
    }
  }
  @media (max-width: 768px) {
    padding: 0 32px;
    h3 {
      font-size: 32px;
    }
  }
  @media (max-width: 576px) {
    height: 60vh;
    padding: 0 16px;
    h3 {
      font-size: 24px;
    }
    form button {
      width: 30%;
    }
  }
}
