.projects {
  padding: 40px 0;

  .nav {
    flex-wrap: nowrap;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 24px;
    background: #f8fafc;
    display: flex;
    cursor: pointer;
    gap: 8px;
    .nav-item {
      flex: 1;
    }
  }

  .filter-btn {
    height: 50px;
    @include centerFlex();
    flex: 1;
    width: 100%;
    padding: 0 8px;
    border-radius: 8px;
    font-weight: 500;
    color: $main-color;
    transition: $transation;
    font-size: 12px;
    white-space: nowrap;
    &.active,
    &:hover {
      background: $main-color;
      color: $white;
    }
  }
}

.project-item {
  &:hover .image .layer {
    opacity: 1;
    transform: scaleY(1);
  }
  .image {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    height: min(350px, 420px);
    @media (max-width: 768px) {
      height: min(200px, 300px);
    }
    img {
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
    .layer {
      background: linear-gradient(180deg, rgba(7, 23, 78, 0) 0, #07174ef5 80%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 25px;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: 0.5s;
      opacity: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      h4 {
        color: $white;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      p {
        font-size: 16px;
        color: $text-color;
        font-weight: 600;
      }
    }
  }
}

.project-details {
  padding: 40px 0;
  aside {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    padding-right: 32px;
    top: 160px;
    .aside-wrap {
      position: sticky;
      top: 160px;
    }
    h3 {
      font-size: 32px;
      color: $main-color;
      font-weight: bold;
      margin-bottom: 32px;
    }
    p {
      color: $text-color;
      margin-bottom: 24px;
    }
    .techs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      h6 {
        color: $main-color;
        font-weight: bold;
        font-size: 18px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          color: $second;
          position: relative;
          padding: 0 16px;
          &::after {
            content: "#";
            position: absolute;
            left: -4px;
            color: $main-color;
            font-style: italic;
            font-weight: bold;
          }
        }
      }
    }
    .link {
      padding: 0 16px;
      margin-top: 32px;
      height: 50px;
      width: 166px;
      gap: 4px;
      border: 1px solid #4c6fff;
      color: #4c6fff;
      border-radius: 4px;
      @include centerFlex();
      position: relative;
      overflow: hidden;
      transition: $transation;
      &::after {
        position: absolute;
        content: "";
        height: 150px;
        width: 0;
        right: 10px;
        transition: $transation;
        background: $main-color;
        transform: rotate(-25deg);
        z-index: -1;
      }
      &:hover {
        color: $white;
        border-color: $main-color;
        &::after {
          width: 120%;
          right: -10px;
        }
      }
    }
    .btns {
      display: flex;
      gap: 16px;
      margin-top: 32px;
    }
  }
  .project-images {
    padding-top: 32px;
    @media (max-width: 992px) {
      margin-top: 60px;
    }
    img {
      max-width: 100%;
      margin-bottom: 32px;
      border-radius: 16px;
    }
    &::-webkit-scrollbar {
      width: 2px;
    }
  }
}
