@import "./config";
@import "./loaders";
@import "./layout";
@import "./swipers";
@import "./home";
@import "./about";
@import "./works";
@import "./contact";

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background: #fff;

  #root {
    min-height: 100dvh;
    width: 100%;
  }

  main {
    width: 100%;
    position: relative;
  }
}
.fancybox__container {
  z-index: 99999999999 !important;
}
