@import "./config";
@import "./loaders";
@import "./layout";
@import "./swipers";
@import "./home";
@import "./about";
@import "./works";
@import "./contact";
@import "./services";
@import "./error";

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background: #fff;
  direction: rtl;

  #root {
    min-height: 100dvh;
    width: 100%;
  }

  main {
    width: 100%;
    position: relative;
  }
  &.en {
    direction: ltr;
    .header .container .nav-links .navigations .nav-link a::after {
      right: initial;
      left: -16px;
    }
    .header .container .nav-links .navigations .nav-link a i {
      margin-right: initial;
      margin-left: 4px;
    }
  }
}
.fancybox__container {
  z-index: 99999999999 !important;
}
